@import "../variables";

.copyright {
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
}

.copyright__text {
  display: block;
  padding: 5px 7px;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.copyright__link {
  font-size: 0;
}
