@import "../variables";

.page-header {
  width: 100%;
  box-sizing: border-box;
}

.page-header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo {

}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
  }
}


