@import "../variables";

.page-header {
  width: 100%;
  box-sizing: border-box;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo-sedona use symbol g .logo-desktop,
.page-header__logo-sedona .logo-tablet {
  opacity: 0;
}

.page-header__image-wrapper {
  order: 2;
  width: $mobile-width;
  height: 56px;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width;
  }

  .page-header__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 101px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
  }
}
