@import "../variables";

.page-footer {
  width: 100%;
}

.page-footer__wrapper {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 35px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.page-footer__title {
  color: #000000;
  font-weight: bold;
  font-size: $mini-title-size;
  text-transform: uppercase;
  line-height: $mini-title-line-height;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-width;
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
    padding: 36px 120px;
  }
}
