@import "../variables";

.page-photo {
  width: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page-photo__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 170px;

  background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 230px 40px, 100% 158px;
  background-position: top 49px center, top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 230px 40px, 100% 158px;
    background-position: top 49px center, top;
  }
}

@media (min-width: $tablet-width) {
  .page-photo__wrapper {
    width: $tablet-width;
    padding-top: 339px;

    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 458px 82px, 100% 290px;
    background-position: top 93px center, top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 458px 82px, 100% 290px;
      background-position: top 93px center, top;
    }
  }
}


@media (min-width: $desktop-width) {
  .page-photo__wrapper {
    width: $desktop-width;

    background-image: url("../../img/text-sedona.svg"), url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 458px 82px, 100% 300px;
    background-position: top 100px center, top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/text-sedona.svg"), url("../../img/bg-back-desktop@2x.jpg");
      background-size: 458px 82px, 100% 300px;
      background-position: top 100px center, top;
    }
  }
}
