@import "../variables";

.photos {
  width: $mobile-width;
  box-sizing: border-box;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.photos__item {
  box-sizing: border-box;
  width: $mobile-width;
  height: 415px;
  border-top: 1px solid #e5e5e5;
  padding: 22px 20px;
  font-family: "PT Sans", "Arial", sans-serif;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photos__title {
  display: block;
  margin: 0;
  padding-top: 10px;
  font-size: $paragraph-size;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.photos__author {
  margin: 0;
  font-size: $paragraph-size;
  line-height: 24px;
  color: $grey;
}

.photos__like {
  display: block;
  padding: 8px 0 0 36px;
  position: relative;
  font-size: $paragraph-size;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 22px;
    height: 20px;
    background-image: url("../../img/icon-like.svg");
  }
}

@media (min-width: $tablet-width) {
  .photos {
    width: $tablet-width;
    padding: 0 60px;
  }

  .photos__item {
    width: 324px;
    background-color: #f2f2f2;
    border-top: none;

    &:first-child {
      width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: $desktop-width;
    padding: 0;
  }

  .photos__item {
    width: 400px;

    &:first-child {
      width: 100%;
    }
  }

  .photos__title {
    color: #ffffff;
  }

  .photos__author {
    color: #ffffff;
  }

  .photos__like {
    color: #ffffff;
  }
}
