$blue: #81b3d2;
$grey: #333333;
$grey-background: #4e4e4e;
$white-background: #eeeeee;
$mini-title-size-mobile: 18px;
$mini-title-size: 21px;
$mini-title-line-height: 26px;
$paragraph-size: 14px;
$paragraph-line-height: 21px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;


